<div class="top-panel">

  <div class="top-panel-left">
    <label class="page-title"> <a href="http://localhost:4200"> SyncTube</a></label>
    <input *ngIf="raumId && user.admin" (keyup.enter)="search()" [(ngModel)]="query" class="custom-yt-link" type="text">
    <div *ngIf="raumId && user.admin" (click)="sendAddVideoToPlaylist()"><img class="add-video-to-playlist"
        src="assets/add.svg"> </div>
    <div class="room-status-panel">
        <label *ngIf="raumId && raumStatus">Private <img class="rsp-lock" src="assets/padlock.svg"></label>
        <label *ngIf="raumId && !raumStatus">Public <img class="rsp-lock" src="assets/padlock-unlock.svg"></label>
    </div>
  </div>

  <div class="top-panel-right">
    <h2>{{raumTitle}}</h2>
  </div>
</div>

<div *ngIf="revealContent" class="content-container">
  <!--  Visible when no room is created or joined -->
  <div *ngIf="!raumId" class="content-container">
    <h2>Create a new Room</h2>

    <div class="create">
      <button (click)="createRaum()" class="button">
        <h3>New Room</h3>

      </button>
      <!--<div class="raum-toggle"><label>Private</label><input [(ngModel)]="raumStatus" type="checkbox"></div>-->
      <div class="raum-toggle-startpage">
        <div class="config-raumstatus-container">
          <label *ngIf="configRaumStatus">Private</label>
          <label *ngIf="!configRaumStatus">Public</label>
        </div>
        <label class="switch">
          <input (click)="displayConfigToggle()" class="toggle-input" [(ngModel)]="configRaumStatus" type="checkbox">
          <span class="slider round"></span>
        </label>

      </div>
    </div>
    <!--
    <h2>Join Room</h2>

    <div class="join">
      <label>Enter RaumId</label>
      <input [(ngModel)]="raumIdText" class="enter-raum-id" type="text">
      <button (click)="joinRaum()" class="button">
        <h3>Join Room</h3>
      </button>
    </div> -->
    <br><br>
    <h2>Public Rooms</h2>
    <div class="public-rooms-container">
      <div class="room-preview" *ngFor="let pRoom of publicRaeume">
        <table (click)="joinRaumById(pRoom.raumId)">
          <tr>
            <td>
              #{{pRoom.raumId}}
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <img class="thumbnail" src="https://img.youtube.com/vi/{{pRoom.video.videoId}}/0.jpg">
            </td>
            <td>
              {{pRoom.video.title}}
              {{pRoom.size}} Users
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>

  <!-- Visible when room is created or joined -->
  <div *ngIf="raumId" [className]="!displayCinemaMode ? 'raum-container' : 'raum-container-cinema'">
    <div class="left-container" *ngIf="!displayCinemaMode && !displayFullscreen">

      <div *ngIf="user.admin" class="admin-panel-container">
        <div class="admin-panel-title"> <span>Admin Panel</span></div>

        <div *ngIf="raumId" class="raum-toggle">
          <label class="w-60" *ngIf="raumStatus">Private</label>
          <label class="w-60" *ngIf="!raumStatus">Public</label>
          <label *ngIf="user.admin" class="switch">
            <input (click)="sendToggleRaumStatus($event)" class="toggle-input" [(ngModel)]="raumStatus" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="admin-panel-row" *ngIf="user.admin && raumStatus">
          <label class="w-90">Reset Url</label>
          <img (click)="refreshJoinUrl()" title="refreshes the join url" class="refresh-img" src="assets/refresh.svg">
        </div>
        <div  class="create-room-title-container">
          <label>Raumtitel</label>
          <input [(ngModel)]="raumTitle" class="input-room-title" type="text"> 
        </div>
        <div  class="create-room-description-container">
            <label>Beschreibung</label>
            <textarea rows="4" [(ngModel)]="raumDescription" class="input-description"></textarea> 
          </div>
          <div (click)="sendUpdateTitleAndDescription()" style="margin:0 auto; border: 1px solid black; border-radius:4px; padding: 3px; background-color:aquamarine;">Ändern</div>
      </div>

      <div *ngIf="!user.admin" class="left-create-raum-container">
        <div class="create">
          <button (click)="createNewRaumWhileInRaum()" class="button2">
            Create your own Room
    
          </button>
          <!--<div class="raum-toggle"><label>Private</label><input [(ngModel)]="raumStatus" type="checkbox"></div>-->
          <div class="raum-toggle-startpage">
            <div class="config-raumstatus-container">
              <label *ngIf="configRaumStatus">Private</label>
              <label *ngIf="!configRaumStatus">Public</label>
            </div>
            <label class="switch">
              <input (click)="displayConfigToggle()" class="toggle-input" [(ngModel)]="configRaumStatus" type="checkbox">
              <span class="slider round"></span>
            </label>
    
          </div>
        </div>
          <!--<div (click)="createNewRaumWhileInRaum()"><img class="add-room" src="assets/add.svg"> </div>-->
      </div>

      <div class="controls-panel-container">
        <div class="controls-panel-title"> <span>Controls Panel</span></div>

        <div (click)="copyLinkToClipboard()" class="admin-panel-row">
          <label class="w-90">Copy URL</label>
          <img title="refreshes the join url" class="refresh-img" src="assets/copy.svg">
        </div>
      </div>

      <div class="playlist-container">
        <div class="playlist-panel-title"> <span>Playlist</span></div>
        <div class="playlist-controls">
          <div class="inorder-container"> <img src="assets/playlist.svg"> </div>
          <div class="random-container"> <img src="assets/shuffle.svg"> </div>
          <div class="repeat-container"> <img src="assets/repeat.svg"> </div>
          <div class="next-playlist-video-container"> <img src="assets/play-next-button.svg"> </div>
        </div>

        <div class="playlist-video" title="{{pvideo_.description}}" *ngFor="let pvideo_ of playlist">
          <div><img class="playlist-thumbnail" src="https://img.youtube.com/vi/{{pvideo_.videoId}}/0.jpg"> </div>
          <div class="playlist-infos"> {{pvideo_.title}}</div>
        </div>
      </div>
    </div>
    <div #scrollContent id="scrollContent" [className]="!displayFullscreen ? 'video-content' : 'display-fullscreen'">
      <app-video></app-video>

      <div *ngIf="raumId && !displayFullscreen" class="raum-users">
        <ng-template ngFor let-anyuser [ngForOf]="users">
          <div *ngIf="user.userId != anyuser.userId" class="user-container">
            <img class="user-icon" src="assets/user.svg">
            <img *ngIf="user.admin && !anyuser.admin" (click)="toKick(anyuser)" class="delete-icon"
              src="assets/delete.svg">
            <div class="user-text-container">
              <span>
                {{anyuser.userName}}
              </span>
              <img *ngIf="anyuser.admin" class="star" src="assets/star.svg">
              <img *ngIf="!anyuser.admin && user.admin" (click)="toAdmin(anyuser)" class="star"
                src="assets/greyStar.svg">
              <img *ngIf="!anyuser.admin && !user.admin" class="star" src="assets/greyStar.svg">
            </div>
          </div>
          <div *ngIf="user.userId === anyuser.userId" class="user-container identity">
            <img class="user-icon" src="assets/user.svg">
            <div class="user-text-container">
              <span>
                {{anyuser.userName}}
              </span>
              <img *ngIf="anyuser.admin" class="star" src="assets/star.svg">
              <img *ngIf="!anyuser.admin && user.admin" (click)="toAdmin(anyuser)" class="star"
                src="assets/greyStar.svg">
              <img *ngIf="!anyuser.admin && !user.admin" class="star" src="assets/greyStar.svg">
            </div>
          </div>
        </ng-template>
      </div>

      <div *ngIf="raumId && user.admin && !displayFullscreen && !displayCinemaMode" class="search-results-container">
        <div class="search-result-video" title="{{video_.description}}" *ngFor="let video_ of searchResults">
          <div (click)="sendNewVideoLink(video_)"><img class="search-result-thumbnail"
              src="https://img.youtube.com/vi/{{video_.videoId}}/0.jpg"> </div>
          <div class="search-result-infos">
            <span (click)="sendNewVideoLink(video_)">{{video_.title}} </span>
            <span class="search-result-date"> published @{{video_.publishedAt | date: 'dd.MM.yyyy'}}</span>
          </div>
          <img (click)="sendAddVideoToPlaylist(video_)" class="add-to-playlist-button" src="assets/add2.svg">
        </div>
      </div>

    </div>

    <div *ngIf="!displayCinemaMode && !displayFullscreen" class="chat-messages-container">
      <div #scrollChat class="scrollable-content" id="scrollChat">
        <div class="chat-row" *ngFor="let chatMessage of chatMessages">
          <div class="message-row-container" *ngIf="chatMessage.type != 'insert-video'">
            <div class="userid-container"> <span> {{chatMessage.user.userName}} </span><img
                *ngIf="chatMessage.user.admin" src="assets/star.svg" class="star-img"> </div>
            <div class="text-container">
              <div> {{chatMessage.messageText}}</div>
              <div class="timestamp"> <span> {{chatMessage.timestamp}} </span></div>
            </div>
          </div>

          <div class="message-row-container" *ngIf="chatMessage.type == 'insert-video'">
            <div class="userid-container">
              <span> {{chatMessage.user.userName}} </span>
              <img *ngIf="chatMessage.user.admin" src="assets/star.svg" class="star-img">
            </div>
            <div>
              <a target="_blank" href="https://www.youtube.com/watch?v={{chatMessage.video.videoId}}"> <img
                  class="thumbnail-chat" src="https://img.youtube.com/vi/{{chatMessage.video.videoId}}/0.jpg"></a>
            </div>
            <div class="text-container"><a target="_blank"
                href="https://www.youtube.com/watch?v={{chatMessage.video.videoId}}">
                <div class="video-title"> {{chatMessage.video.title}}</div>
              </a>
              <div class="timestamp"> <span> {{chatMessage.timestamp}} </span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <input class="w-100" (keyup.enter)="sendChatMessage()" [(ngModel)]="chatMessageText" type="text">
      </div>
    </div>
  </div>


</div>

<div *ngIf="designatedAdmin" class="prompt">
  <h3>Wollen Sie {{designatedAdmin.userName}} zum Admin ernennen?</h3>
  <div class="approved-button" (click)="approvedAdmin()"> JA </div>
  <div class="disapproved-button" (click)="disapprovedAdmin()"> NEIN </div>
</div>

<div *ngIf="kickingUser" class="prompt">
  <h3>Wollen Sie {{kickingUser.userName}} kicken?</h3>
  <div class="approved-button" (click)="approvedKick()"> JA </div>
  <div class="disapproved-button" (click)="disapprovedKick()"> NEIN </div>
</div>