#input {
  margin-bottom: 16px;
}

.page-title {
  font-size: 2em;
}

.s2glogo {
  filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(143deg) brightness(126%) contrast(96%);
  padding-right: 10px;
}

.raumTitle-container {
  color: var(--color3);
}

.raum-toggle-startpage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  min-width: 400px;
  max-width: 600px;
  height: 100px;
  background-color: var(--color7);
  /* Green */
  border: none;
  border-radius: 9px;
  color: white;
  cursor: pointer;
  margin: 25px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  padding: 15px 0px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--color3);
}

.button2 {
  width: 100px;
  height: 50px;
  background-color: var(--color4);
  /* Green */
  border: none;
  border-radius: 9px;
  color: white;
  cursor: pointer;
  margin: 5px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  padding: 5px 0px;
}

.create, .join {
  display: flex;
  background-color: var(--color6);
  align-items: center;
  /*border-radius: 15px;*/
  border: 2px solid var(--color6);
  height: 250px;
}

[hidden] {
  display: none !important;
}

.enter-raum-id {
  width: 75%;
}

.raum-container {
  display: flex;
  width: 100%;
}

.config-raumstatus-container {
  font-size: 20px;
  color: white;
  width: 70px;
}

.raum-container-cinema {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #000000;
}

.refresh-img {
  width: 18%;
  height: auto;
  padding: 13px;
  filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(143deg) brightness(126%) contrast(96%);
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

/*.refresh-img:hover {
  
}*/

.copy-img {
  width: 25px;
  height: auto;
  padding: 5px;
}

.admin-panel-container, .controls-panel-container, .left-create-raum-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.raum-toggle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 35px;
  min-height: 15%;
  align-items: center;
}

.admin-panel-row {
  display: flex;
  width: 34%;
  height: 47px;
  min-height: 15%;
  align-items: center;
  background-color: var(--color8);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 0.75vw;
}

.admin-panel-row:hover .refresh-img {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.admin-panel-row:hover {
  background-color: var(--color9);
  font-size: 18px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 0.825vw;
}

.admin-panel-row:active {
  background-color: var(--color5);
}

.change-url-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.description {
  margin: 0 auto;
  width: auto;
  height: 20px;
  color: var(--color10);
  margin-bottom: 25px;
}

.create-room-title-container, .create-room-description-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  font-size: var(--smallTitle);
}

.input-room-title, .input-description {
  width: 90%;
  margin: 0 auto;
  resize: none;
  border: none;
  background-color: var(--color9);
  color: white;
}

.change-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color5);
  font-size: 16px;
  width:25%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height:30px;
}

.change-button:hover {
  background-color: var(--color11);
  font-size: 19px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.admin-panel-title, .controls-panel-title, .playlist-panel-title {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.playlist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-videos-container, .history-videos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.left-container {
  width: 90%;
  margin: 0 auto;
  max-height: 93vh;
}

/*.admin-panel-img {
  width: 100%;
  height: auto;
}*/

.playlist-image {
  width: 30%;
  height: auto;
}

.active-playlist-control {
  background: #2196f3;
}

.video-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 93vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.user-query {
  width: 50%;
  height: 2.5vh;
  margin: 0 10px;
  border: none;
  background-color: var(--color9);
  color: white;
  padding-left: 8px;
  border-radius: 3px;
}

.top-panel {
  position: relative;
  display: flex;
  height: 6.5vh;
  width: 100%;
  background-color: var(--color6);
  align-items: center;
}

.top-panel-left {
  display: flex;
  width: 60%;
  align-items: center;
}

.top-panel-right {
  display: flex;
  width: 40%;
  align-items: center;
}

.room-status-panel {
  position: fixed;
  right: 5px;
  font-size: var(--smallTitle);
  color: #ffffff;
}

.rsp-lock {
  height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow-y: scroll;
}

.raum-users {
  width: 100%;
  height: 84vh;
  /*display: flex;*/
  /*align-items: center;*/
  margin: 1%;
  flex-wrap: wrap;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.tab {
  width: 50%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color8);
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.active_tab {
  width: 50%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color3);
  font-weight: bolder;
}

.tab:hover {
  width: 50%;
  height: 4vh;
  background-color: var(--color3);
  color: var(--color1);
}

.tabs-container {
  background-color: var(--color7);
  max-height: 93vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  color: white;
}

.chat-playlist-tabs {
  width: 100%;
  display: flex;
  font-size: var(--largeText);
}

.chat-messages-container {
  background-color: var(--color7);
  height: 81vh;
  width: 100%;
}

.scrollable-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 6px;
}

.message-row-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color3);
  border-radius: 6px;
  width: fit-content;
  max-width: 75%;
  padding: 5px 5px 0px 5px;
  color: black;
}

.message-row-container-user {
  display: flex;
  justify-content: flex-end;
  border-radius: 2px;
  width: fit-content;
  max-width: 75%;
  padding: 5px 5px 0px 5px;
  background-color: var(--color5);
}

.insert-video-row-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 6px;
  width: fit-content;
  max-width: 75%;
  padding: 5px 5px 0px 5px;
  background-color: white;
  color: black;
}

.insert-video-row-container-user, .insert-playlist-row-container-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 6px;
  width: fit-content;
  max-width: 75%;
  padding: 5px 5px 0px 5px;
  background-color: var(--color4);
}

.insert-video-content {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.w-100 {
  /*width: 100%;
  margin: 0 5px;
  border: none;*/
  margin-left: 10px;
  width: 77%;
  border: none;
  height: 25px;
  background-color: var(--color8);
  padding-left: 8px;
  color: white;
  border-radius: 3px;
}

.send-chat-button {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  border-radius: 3px;
  background-color: var(--color5);
  font-size: 14px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.send-chat-button:hover {
  background-color: var(--color11);
  font-size:16px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.send-chat-button:active {
  background-color: var(--color3);
  font-size:16px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.text-container {
  width: fit-content;
  text-overflow: ellipsis;
  font-size:1rem;
  /*word-break: break-all; word-wrap: break-word;*/
}

.userid-container {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: bold;
}

.timestamp {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 9px;
}

.top-chat-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 3vh;
  height: 3vh;
  width: 100%;
  border-bottom: 1px solid white;
}

.chat-row {
  padding: 5px 5px 0px 5px;
  display: flex;
  justify-content: flex-start;
}

.chat-row-user {
  padding: 5px 5px 0px 5px;
  display: flex;
  justify-content: flex-end;
}

.slidecontainer {
  width: 100%;
}

.bar-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1vh;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.bar-slider :hover {
  opacity: 1;
}

.bar-slider ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 1vh;
  background: #4caf50;
  cursor: pointer;
}

.bar-slider ::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.overlay {
  position: absolute;
  z-index: 99999;
  display: none;
}

input[type="range"][orient="vertical"] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.controls {
  display: flex;
  background-color: white;
  align-items: center;
  height: 5vh;
}

label {
  margin: 0% 10px;
}

.room-preview {
  background: var(--color6);
  width: 23%;
  margin: 10px 1%;
  height: 200px;
  flex-direction: column;
  display: flex;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
  float: left;
}

.room-preview:hover {
  background: var(--color3);
}

.public-room-title {
  width: 100%;
  height: 20px;
}

.public-room-row {
  display: flex;
  max-width: 100%;
  width: max-content;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: normal;
  overflow: hidden;
}

.public-room-description {
  min-height: 90px;
  max-height: 90px;
}

.public-room-video-title {
  min-height: 50px;
  max-height: 50px;
}

.public-room-size {
  min-width: 100%;
  min-height: 20px;
  max-height: 20px;
}

.public-room-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.room-preview tr td {
  width: 50%;
  color: white;
}

.thumbnail {
  height: 100px;
  margin: 5px;
}

.thumbnail-chat {
  width: 65px;
  height: auto;
  margin-left: 5px;
}

.public-rooms-container {
  width: 100%;
  padding: 0 2%;
}

.information-panel {
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 70%;
  color: white;
}

.information-panel {
  width: 10%;
  height: auto;
  opacity: 0.6;
}

.information-panel:hover {
  opacity: 1;
}

.playlist-video-data, .history-video-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--color8);
  color: white;
  margin-bottom: 2px;
}

.active {
  background-color: var(--color4);
  color: black;
}

.playlist-video-infos, .history-video-infos {
  padding: 5px;
  height: 60px;
  max-height: 60px;
  overflow: hidden;
  width: stretch;
  display: flex;
  flex-direction: column;
}

.playlist-thumbnail, .history-thumbnail {
  height: 80px;
}

.playlist-video-controls, .history-video-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  width: 15%;
  min-width: 15%;
}

.garbage:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.playlist-video-controls img {
  width: 90%;
  min-width: 90%;
  margin: 2px auto;
}

.playlist-row-spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
  min-width: 5%;
  filter: invert(1);
}

.history-row-spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 8%;
  min-width: 8%;
}

.playlist-row-spacer img {
  width: 90%;
}

.playlist-video-content, .history-video-content {
  display: flex;
  height: 82px;
}

.playlist-controls {
  display: flex;
  align-items: center;
  height: 30px;
  min-height: 30px;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.playlist-controls-left {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 30px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.playlist-controls-left-inactive {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: var(--color8);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.playlist-controls-left-inactive:hover, .playlist-controls-right-inactive:hover {
  background-color: var(--color3);
}

.playlist-controls-right {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  height: 30px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.playlist-controls-right-inactive {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: var(--color8);
  height: 30px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.history-control-icon {
  height: 25px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.history-control-icon-inactive:hover {
  height: 28px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.history-control-icon-inactive {
  height: 25px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.inorder-container, .random-container, .repeat-container, .next-playlist-video-container {
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(143deg) brightness(126%) contrast(96%);
}

.next-playlist-video-container img:active {
  filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(143deg) brightness(126%) contrast(96%);
}

.random-container img:hover, .repeat-container img:hover, .next-playlist-video-container img:hover {
  height: 80%;
  opacity: 1;
  /*border: 2px solid var(--color3);*/
  /*border-radius: 5px;*/
}

.inorder-container img, .random-container img, .repeat-container img, .next-playlist-video-container img {
  height: 70%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.search-result-video {
  position: relative;
  width: 15%;
  display: flex;
  flex-direction: column;
  margin: 0.5%;
  /*background-color: #17183b;*/
  background-color: var(--color6);
  font-size: 12px;
  color: white;
  height: fit-content;
}

.search-results-container {
  width: 90%;
  min-height: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;
}

.search-result-thumbnail {
  width: 100%;
}

.search-result-infos {
  padding: 5px;
  height: 50px;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.search-result-infos span {
  text-overflow: ellipsis;
  height: 50px;
  max-height: 50px;
}

.add-to-playlist-button {
  width: 15px;
  height: 15px;
  margin: 5px;
}

.instant-play-button {
  width: 15px;
  height: 15px;
  margin: 5px;
  filter: invert(1);
}

.search-result-video-controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}

.search-result-open-playlist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 30px;
}

.open-playlist-button {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid var(--color4);
  color: var(--color4);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  justify-items: center;
  font-size: 11px;
}

.open-playlist-button:hover {
  border: 1px solid var(--color3);
  color: var(--color3);
  font-size: 12px;
}

.search-result-date {
  font-size: 10px;
  margin: auto 5px;
}

.user-container, .kicked-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  background-color: grey;
  width: 93.5%;
  height: 60px;
  border-radius: 6px;
}

.identity {
  background-color: var(--color8);
}

.user-icon {
  height: 45px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.username-container {
  color: white;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  height: 55px;
  display: flex;
  align-items: center;
}

.edit-username {
  height: 36px;
  margin-left: -20px;
}

.edit-username img {
  width: 15px;
  height: 15px;
  margin: 3px;
}

.username-input {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  outline: none;
  font-size: var(--largeText);
  font-family: inherit;
  width: 100%;
}

.username-input-border {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  font-size: 19px;
  font-family: inherit;
  width: 90%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.mute-user-container, .user-star-container, .delete-icon-container {
  height: 60px;
  max-height: 60px;
  display: flex;
  align-items: center;
  margin: auto 10px;
}

.mute-user, .star, .delete-icon {
  height: 35px;
  max-height: 35px;
}

.star-img {
  width: 14px;
  height: 14px;
  padding: 0 5px;
}

.prompt {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 50px;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color3);
}

.approved-button, .disapproved-button {
  padding: 5px;
  width: 100px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  margin: 0 10px;
}

.status-label {
  width: 100px;
}

.add-room {
  width: 25px;
  height: auto;
}

.add-video-to-playlist {
  width: 30px;
}

.admin-info {
  display: flex;
  align-items: center;
  padding: 0;
  color: black;
}

.infos {
  display: flex;
  flex-direction: column;
}

.refresh-container {
  display: flex;
  flex-direction: column;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 36px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 32px;
  top: 1px;
  bottom: 1px;
  right: 38px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-input:checked+.slider {
  background-color: #2196f3;
}

.toggle-input:checked+.slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-input {
  display: none;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.display-fullscreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  justify-content: space-evenly;
  background-color: black;
}

.video-title {
  padding: 0 3px;
  font-size: 12px;
}

.playlist-button-off {
  opacity: 0.5;
}

.playlist-button-on {
  /*filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);*/
  filter: invert(99%) sepia(92%) saturate(7056%) hue-rotate(54deg) brightness(92%) contrast(100%);
  opacity: 1;
}

.seachresults-buttons-container {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.import-button {
  margin: 10px 0.5%;
  border: solid 3px var(--color4);
  width: fit-content;
  border-radius: 5px;
  color: var(--color4);
}

.import-button-inactive {
  margin: 10px 0.5%;
  border: solid 3px var(--color2);
  width: fit-content;
  border-radius: 5px;
  color: var(--color2);
  opacity: 0.1;
}

.import-button:hover {
  border: solid 3px var(--color3);
  color: var(--color3);
}

.kicked-users-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toastr-history-container {
  position: fixed;
  right: 0px;
  top: 25vh;
  height: 50vh;
  width: 20vw;
  background-color: #cececea4;
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  border-radius: 5px;
}

.toastr-history-toasts {
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.single-toast {
  width: 95%;
  display: flex;
  height: 6vh;
  min-height: 6vh;
  max-height: 60px;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 5px;
  padding: 0.15vw;
  margin: 0.25vh auto;
}

.single-toast-left {
  width: 70%;
  font-size: 1.5vh;
}

.single-toast-right {
  width: 30%;
  font-size: 1.1vh;
  display: flex;
  flex-direction: column;
  margin: 0.25vw;
  align-items: flex-end;
  justify-content: space-between;
}

.toast-color-block {
  width: 3vw;
  height: 3vh;
  min-width: 3vw;
  min-height: 3vh;
  border-radius: 5px;
}

.toast-success {
  background-color: #51A351;
  width: 3vw;
  height: 3vh;
  min-width: 3vw;
  min-height: 3vh;
  border-radius: 5px;
}

.toast-error {
  background-color: #BD362F;
  width: 3vw;
  height: 3vh;
  min-width: 3vw;
  min-height: 3vh;
  border-radius: 5px;
}

.toast-info {
  background-color: #2F96B4;
  width: 3vw;
  height: 3vh;
  min-width: 3vw;
  min-height: 3vh;
  border-radius: 5px;
}

.toast-warning {
  background-color: #F89406;
  width: 3vw;
  height: 3vh;
  min-width: 3vw;
  min-height: 3vh;
  border-radius: 5px;
}