<div class="top-panel">
  <div class="top-panel-left">
    <!--<h3 class="page-title"><a href="http://localhost:4200" style="color:white"> XXXXX</a></h3>-->
    <a href="http://localhost:4200"><img class="s2glogo" src="assets/stream2gether.png" /></a>
    <select (change)="switchSelectedApi(event)" [(ngModel)]="selectedDataApi" *ngIf="raumId && user.admin">
      <option *ngFor="let supportedApi_ of supportedApis" [ngValue]="supportedApi_">{{supportedApi_.name}} </option>
    </select>
    <input *ngIf="raumId && user.admin" (keyup.enter)="search()" [(ngModel)]="searchInput" class="user-query"
      type="text" placeholder="Suchen" />
    <div class="room-status-panel">
      <label [hidden]="!raumId || !raumStatus">Private <img class="rsp-lock" src="assets/padlock.svg" /></label>
      <label [hidden]="!raumId || raumStatus">Public <img class="rsp-lock" src="assets/padlock-unlock.svg" /></label>
    </div>
  </div>

  <div class="top-panel-right">
    <h1 class="raumTitle-container">{{ raumTitle }}</h1>
  </div>
</div>

<div></div>
<div *ngIf="revealContent">
  <!--  Visible when no room is created or joined -->
  <div *ngIf="!raumId" class="content-container">
    <h2 style="color:white">Create a new Room</h2>
    <div class="create">
      <button (click)="createRaum()" class="button">
        <h3>New Room</h3>
      </button>
      <!--<div class="raum-toggle"><label>Private</label><input [(ngModel)]="raumStatus" type="checkbox"></div>-->
      <div class="raum-toggle-startpage">
        <div class="config-raumstatus-container">
          <label *ngIf="configRaumStatus">Private</label>
          <label *ngIf="!configRaumStatus">Public</label>
        </div>
        <label class="switch">
          <input (click)="displayConfigToggle()" class="toggle-input" [(ngModel)]="configRaumStatus" type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <!--
    <h2>Join Room</h2>

    <div class="join">
      <label>Enter RaumId</label>
      <input [(ngModel)]="raumIdText" class="enter-raum-id" type="text">
      <button (click)="joinRaum()" class="button">
        <h3>Join Room</h3>
      </button>
    </div> -->
    <br /><br />
    <h2 style="color:white">Public Rooms</h2>
    <div *ngIf="publicRaeume" class="public-rooms-container">
      <div (click)="joinRaumById(pRoom.raumId)" class="room-preview" *ngFor="let pRoom of publicRaeume | async">
        <div class="public-room-title ellipsis">#{{ pRoom.raumTitle }}</div>
        <div class="public-room-row">
          <img *ngIf="pRoom.video" class="thumbnail" src="{{pRoom.video.thumbnail}}" />
          <img *ngIf="!pRoom.video" class="thumbnail" src="https://i.ytimg.com/vi/UH1ThWZ9hXU/hqdefault.jpg" />
          <div class="public-room-infos">
            <div class="public-room-description ellipsis">
              <strong>Beschreibung</strong><br/>{{ (pRoom.description) ? pRoom.description : 'no room description'}}
            </div>
            <div class="public-room-video-title ellipsis">
              <strong>Videotitel</strong><br />{{ (pRoom.video) ? pRoom.video.title : 'no video title' }}
            </div>
            <div class="public-room-size">
              <strong>{{ pRoom.size }} Users</strong> | created:
              <strong>{{ pRoom.createdAt }} </strong>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Visible when room is created or joined -->
  <div [hidden]="!raumId" [className]="
      !displayCinemaMode ? 'raum-container' : 'raum-container-cinema'
    ">
    <!-- (keyup.arrowleft)="tenSecBack()" -->

    <div #scrollContent id="scrollContent" [className]="!displayFullscreen ? 'video-content' : 'display-fullscreen'">

      <!-- Video Component-->
      <app-video></app-video>

      <div *ngIf="raumId && user.admin && !displayFullscreen && !displayCinemaMode" class="search-results-container"
        id="search-results">
        <div class="seachresults-buttons-container" [hidden]="!importedPlaylist">
          <div [className]="
              hasImportedPlaylist ? 'import-button' : 'import-button-inactive'
            ">
            <h3 (click)="sendImportPlaylist()">Playlist importieren</h3>
          </div>
          <div [className]="
              hasImportedPlaylist ? 'import-button' : 'import-button-inactive'
            ">
            <h3 (click)="sendIntegratePlaylist()">in exisierende Playlist integrieren</h3>
          </div>
          <h4 *ngIf="importedPlaylist" [hidden]="hasImportedPlaylist">
            {{ importedPlaylist.size }} Elemente werden geladen...
          </h4>
          <h4 *ngIf="importedPlaylist" [hidden]="!hasImportedPlaylist">
            {{ importedPlaylist.size }} Elemente geladen
          </h4>
        </div>

        <ng-template ngFor let-video_ [ngForOf]="searchResults">
          <div *ngIf="!video_.isPlaylistLink" class="search-result-video" title="{{ video_.description }}">
            <div (click)="sendAddVideoToPlaylistAsNext(video_)">
              <img class="search-result-thumbnail" src="{{ video_.thumbnail }}" />
            </div>
            <div class="search-result-infos">
              <span (click)="sendAddVideoToPlaylistAsNext(video_)">{{ video_.title }}
              </span>
            </div>
            <div class="search-result-video-controls">
              <span class="search-result-date">
                {{ video_.publishedAt | date: "dd.MM.yyyy" }}</span>
              <img (click)="sendAddVideoToPlaylistAsCurrent(video_)" class="instant-play-button"
                src="assets/playsmall.svg" />
              <img (click)="sendAddVideoToPlaylist(video_)" class="add-to-playlist-button" src="assets/add2.svg" />
            </div>
          </div>

          <div *ngIf="video_.isPlaylistLink" class="search-result-video" title="{{ video_.description }}">
            <div>
              <img class="search-result-thumbnail" src="{{ video_.thumbnail }}" />
            </div>
            <div class="search-result-infos">
              <span>{{ video_.title }} </span>
            </div>
            <div class="search-result-open-playlist">
              <div (click)="openPlaylistLink(video_)" class="open-playlist-button">
                Playlist öffnen
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="!displayCinemaMode && !displayFullscreen" class="tabs-container">
      <div class="chat-playlist-tabs">
        <div [className]="displayTab == 1 ? 'active_tab' : 'tab'" (click)="displayTab = 1" class="tab">
          <span>Chat</span>
        </div>
        <div [className]="displayTab == 2 ? 'active_tab' : 'tab'" (click)="displayTab = 2" class="tab">
          <span>Playlist</span>
        </div>
        <div [className]="displayTab == 3 ? 'active_tab' : 'tab'" (click)="displayTab = 3" class="tab">
          <span>Users</span>
        </div>
        <div [className]="displayTab == 4 ? 'active_tab' : 'tab'" (click)="displayTab = 4" *ngIf="user.admin"
          class="tab">
          <span>Settings</span>
        </div>
      </div>

      <div [hidden]="displayTab != 1" class="chat-messages-container">
        <div class="top-chat-container">
          <img (click)="displayToastrHistory = !displayToastrHistory" src="assets/star.svg" class="star-img" />
        </div>
        <div #scrollChat *ngIf="user" class="scrollable-content" id="scrollChat">
          <div [className]="
              chatMessage.user.userId != user.userId
                ? 'chat-row'
                : 'chat-row-user'
            " *ngFor="let chatMessage of chatMessages">
            <!-- Normal Messages Containers -->
            <div class="message-row-container" *ngIf="
                chatMessage.type === 'insert-user-message' &&
                chatMessage.user.userId != user.userId
              ">
              <div class="userid-container">
                <span> {{ chatMessage.user.userName }} </span><img *ngIf="chatMessage.user.admin" src="assets/star.svg"
                  class="star-img" />
              </div>
              <div class="text-container">
                <span>{{ chatMessage.messageText }}</span>
              </div>
              <div class="timestamp">
                <span> {{ chatMessage.timestamp }} </span>
              </div>
            </div>

            <div class="message-row-container-user" *ngIf="
                chatMessage.type === 'insert-user-message' &&
                chatMessage.user.userId === user.userId
              ">
              <div class="text-container">
                <div>{{ chatMessage.messageText }}</div>
                <div class="timestamp">
                  <span> {{ chatMessage.timestamp }} </span>
                </div>
              </div>
            </div>

            <!-- Insert Video Messages Containers -->
            <div class="insert-video-row-container" *ngIf="
                chatMessage.type == 'insert-video' &&
                chatMessage.user.userId !== user.userId
              ">
              <div class="userid-container">
                <span> Video eingefügt von &nbsp; </span>
                <span> {{ chatMessage.user.userName }} </span>
                <img *ngIf="chatMessage.user.admin" src="assets/star.svg" class="star-img" />

              </div>
              <div class="insert-video-content">

                <div class="text-container">
                  <a target="_blank" href="https://www.youtube.com/watch?v={{
                      chatMessage.video.videoId
                    }}">
                    <div class="video-title">{{ chatMessage.video.title }}</div>
                  </a>
                  <div class="timestamp">
                    <span> {{ chatMessage.timestamp }} </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="insert-video-row-container-user" *ngIf="
                chatMessage.type === 'insert-video' &&
                chatMessage.user.userId == user.userId
              ">

              <div class="userid-container">
                <span> Video eingefügt von dir </span>


              </div>
              <div class="insert-video-content">

                <div class="text-container">
                  <a target="_blank" href="https://www.youtube.com/watch?v={{
                      chatMessage.video.videoId
                    }}">
                    <div class="video-title">{{ chatMessage.video.title }}</div>
                  </a>
                  <div class="timestamp">
                    <span> {{ chatMessage.timestamp }} </span>
                  </div>
                </div>
              </div>
            </div>

            <!--  Playlist messages -->
            <div class="insert-playlist-row-container-user" *ngIf="
            chatMessage.type === 'insert-playlist' &&
            chatMessage.user.userId == user.userId
          ">

              <div class="userid-container">
                <span> Playlist eingefügt von dir </span>


              </div>
              <div class="insert-video-content">

                <div class="text-container">
                  <a target="_blank" href="https://www.youtube.com/watch?list={{
                  chatMessage.video.videoId
                }}">
                    <div class="video-title">{{ chatMessage.video.title }}</div>
                  </a>
                  <div class="timestamp">
                    <span> {{ chatMessage.timestamp }} </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="insert-playlist-row-container-user" *ngIf="
            chatMessage.type === 'insert-playlist' &&
            chatMessage.user.userId !== user.userId
          ">

              <div class="userid-container">
                <span> Video eingefügt von &nbsp; </span>
                <span> {{ chatMessage.user.userName }} </span>
                <img *ngIf="chatMessage.user.admin" src="assets/star.svg" class="star-img" />

              </div>
              <div class="insert-video-content">

                <div class="text-container">
                  <a target="_blank" href="https://www.youtube.com/watch?list={{
                  chatMessage.video.videoId
                }}">
                    <div class="video-title">{{ chatMessage.video.title }}</div>
                  </a>
                  <div class="timestamp">
                    <span> {{ chatMessage.timestamp }} </span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="footer">
          <input class="w-100" (keyup.enter)="sendChatMessage()" [(ngModel)]="chatMessageText" type="text"
            placeholder="Eine Nachricht senden"/>
          <div (click)="sendChatMessage()" class="send-chat-button">
            Senden
          </div>
        </div>
      </div>

      <!-- loop: number = 0; //0 noloop, 1 loop all, 2 loop single video
  randomOrder: number;-->
      <div [hidden]="displayTab != 2" class="playlist-container">
        <div *ngIf="user.admin" class="playlist-controls">
          <!-- <div [className]="!randomOrder ? 'active-playlist-control inorder-container' : 'inorder-container'" (click)="togglePlaylistRunningOrder()"> <img src="assets/playlist.svg"> </div>-->

          <div (click)="displayHistory=false" [className]="
          !displayHistory ? 'playlist-controls-left' : 'playlist-controls-left-inactive'">
            <div class="random-container" (click)="togglePlaylistRunningOrder()">
              <img [hidden]="randomOrder" src="assets/shuffle.svg" class="playlist-button-off" />
              <img [hidden]="!randomOrder" src="assets/shuffle.svg" class="playlist-button-on" />
            </div>
            <div (click)="togglePlaylistLoop()" class="repeat-container">
              <img [hidden]="loop != 0" src="assets/repeat.svg" class="playlist-button-off" />
              <img [hidden]="loop != 1" src="assets/repeat.svg" class="playlist-button-on" />
              <img [hidden]="loop != 2" src="assets/repeat1.svg" class="playlist-button-on" />
            </div>
            <div (click)="sendAutoNextPlaylistVideo()" class="next-playlist-video-container">
              <img src="assets/play-next-button.svg" />
            </div>
          </div>
          <div (click)="displayHistory=true" [className]="
          displayHistory ? 'playlist-controls-right' : 'playlist-controls-right-inactive'" title="Videohistory">
            <img [className]="displayHistory ? 'history-control-icon' : 'history-control-icon-inactive'"
              src="assets/history2.svg" />
          </div>

        </div>

        <div [hidden]="displayHistory" class="playlist-videos-container">
          <div class="playlist-video-content" (mouseenter)="pvideo_.hover = true" (mouseleave)="pvideo_.hover = false"
            *ngFor="let pvideo_ of playlist">
            <div class="playlist-row-spacer">
              <img *ngIf="video.id === pvideo_.id" src="assets/play-button.svg" />
            </div>
            <div (click)="sendSwitchPlaylistVideo(pvideo_)">
              <img class="playlist-thumbnail" src="{{pvideo_.thumbnail}}" />
            </div>
            <div [className]="video.id === pvideo_.id ? 'playlist-video-data active' : 'playlist-video-data'">
              <!-- title="{{pvideo_.description}}"> -->

              <div (click)="sendSwitchPlaylistVideo(pvideo_)" class="playlist-video-infos">
                {{ pvideo_.title }}
              </div>
              <div class="playlist-video-controls">
                <img *ngIf="user.admin" [hidden]="!pvideo_.hover" (click)="sendRemovePlaylistVideo(pvideo_)"
                  class="garbage" src="assets/waste-bin.svg" />
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="!displayHistory" class="history-videos-container">
          <div class="history-video-content" *ngFor="let hvideo_ of history; let i = index">
            <div class="history-row-spacer">
              {{i+1}}
            </div>
            <div>
              <img class="history-thumbnail" src="{{hvideo_.thumbnail}}" />
            </div>
            <div class="history-video-data">
              <!-- title="{{pvideo_.description}}"> -->
              <div class="history-video-infos">
                {{ hvideo_.title }}
                {{ hvideo_.publishedAt | date: "dd.MM.yyyy hh:mm"}}
              </div>
              <div class="history-video-controls">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div [hidden]="displayTab != 3" *ngIf="raumId && !displayFullscreen" class="raum-users">
        <ng-template ngFor let-anyuser [ngForOf]="users">
          <div *ngIf="user.userId != anyuser.userId" class="user-container">
            <div class="username-container">
              {{ anyuser.userName }}
            </div>
            <div (click)="sendToggleMuteUser(anyuser)" *ngIf="user.admin && !anyuser.admin" class="mute-user-container">
              <img [hidden]="!anyuser.isMute" class="mute-user" src="assets/mute.svg" />
              <img [hidden]="anyuser.isMute" class="mute-user" src="assets/unmute.svg" />
            </div>
            <div *ngIf="user.admin && !anyuser.admin" class="delete-icon-container">
              <img *ngIf="user.admin && !anyuser.admin" (click)="toKick(anyuser)" class="delete-icon"
                src="assets/delete.svg" />
            </div>
            <div class="user-star-container">
              <img *ngIf="anyuser.admin" class="star" src="assets/star.svg" />
              <img *ngIf="!anyuser.admin && user.admin" (click)="toAdmin(anyuser)" class="star"
                src="assets/greyStar.svg" />
              <img *ngIf="!anyuser.admin && !user.admin" class="star" src="assets/greyStar.svg" />
            </div>
          </div>

          <div *ngIf="user.userId === anyuser.userId" class="user-container identity">
            <div class="username-container" (mouseenter)="editUserName = true" (mouseleave)="editUserName = false">
              <input (focusout)="sendChangeUserName(anyuser.userName)" [(ngModel)]="user.userName" [className]="
                  editUserName ? 'username-input-border' : 'username-input'
                " class="username-input" value="{{ anyuser.userName }}" />
              <div [hidden]="!editUserName" class="edit-username">
                <img src="assets/edit.svg" />
              </div>
            </div>
            <div class="user-star-container">
              <img *ngIf="user.admin" class="star" src="assets/star.svg" />
              <img *ngIf="!user.admin" class="star" src="assets/greyStar.svg" />
            </div>
          </div>
        </ng-template>
      </div>

      <div class="left-container" *ngIf="user.admin" [hidden]="displayTab != 4">
        <div *ngIf="user.admin" class="admin-panel-container">
          <div *ngIf="raumId" class="raum-toggle">
            <label class="h3 w-80" *ngIf="raumStatus">Private</label>
            <label class="h3 w-80" *ngIf="!raumStatus">Public</label>
            <label *ngIf="user.admin" class="switch">
              <input (click)="sendToggleRaumStatus($event)" class="toggle-input" [(ngModel)]="raumStatus"
                type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="description">
            <label *ngIf="raumStatus">
              Klicke um den Raumstatus öffentlich zu stellen</label>
            <label *ngIf="!raumStatus">
              Klicke um den Raumstatus privat zu stellen</label>
          </div>

          <div class="create-room-title-container">
            <label>Raumtitel</label>
            <input (keyup.enter)="sendUpdateTitleAndDescription()" [(ngModel)]="raumTitleChange" class="input-room-title" type="text" />
          </div>
          <div class="description">
            <label>Hier können Sie den Raumtitel bestimmen</label>
          </div>
          <div class="create-room-description-container">
            <label>Beschreibung</label>
            <textarea (keyup.enter)="sendUpdateTitleAndDescription()" rows="4" [(ngModel)]="raumDescriptionChange" class="input-description"></textarea>
          </div>
          <div class="description">
            <label>Hier können Sie den Raumtitel bestimmen</label>
          </div>
          <div *ngIf="user.admin" [hidden]="!raumStatus" (click)="refreshJoinUrl()" class="change-url-container" title="refreshes the join url">
              <div class="admin-panel-row">
                  <img class="refresh-img" src="assets/refresh.svg" />
                  <label class="w-90">Reset Url</label>
                </div>            
          </div>
          

          <label style="font-size:25px;">Kicked Users</label>
          <div class="kicked-users-list-container">
            <div class="kicked-user-container" *ngFor="let kickedUser of kickedUsers">
              <div class="username-container">
                {{ kickedUser.userName }}
              </div>
              <div class="delete-icon-container">
                <img (click)="sendPardonKickedUser(kickedUser)" class="delete-icon" src="assets/delete.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="designatedAdmin" class="prompt">
  <h3>Wollen Sie {{ designatedAdmin.userName }} zum Admin ernennen?</h3>
  <div class="approved-button" (click)="approvedAdmin()">JA</div>
  <div class="disapproved-button" (click)="disapprovedAdmin()">NEIN</div>
</div>

<div *ngIf="kickingUser" class="prompt">
  <h3>Wollen Sie {{ kickingUser.userName }} aus dem Raum kicken?</h3>
  <div class="approved-button" (click)="approvedKick()">JA</div>
  <div class="disapproved-button" (click)="disapprovedKick()">NEIN</div>
</div>

<div [hidden]="!displayToastrHistory" class="toastr-history-container ellipsis">
  <div style="font-size:3vh;">Event History</div>
  <div class="toastr-history-toasts">
    <div class="single-toast" *ngFor="let toastrMessage of toastrMessages">
      <div class="single-toast-left ellipsis">
        {{toastrMessage.message}}
      </div>
      <div class="single-toast-right">
        <div class="{{ toastrMessage.toastrType ? toastrMessage.toastrType : 'toast-info'}}"> </div>
        {{toastrMessage.createdAt | date: "dd.MM.yyyy hh:mm"}}
      </div>
    </div>
  </div>

</div>