.main {
  position: relative;
}

.main-fullscreen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.raumTitle-container {
  font-size: 24px;
}

.overlay-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.overlay-container-fullscreen {
  position: fixed;
  z-index: 100;
  top: 0px;
  bottom: 6vh;
  left: 0px;
  right: 0px;
}

.options-container {
  z-index: 8888888;
  bottom: 62px;
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 330px;
  border-radius: 3px;
  background: #2a2a2a;
  padding: 5px;
  font-family: Monospace;
  font-size: 12px;
  font-weight: 500;
  color: white;
  opacity: 0.9;
}

.left-back-overlay {
  z-index: 500;
  left: 0px;
  top: 0px;
  bottom: 5vh;
  position: absolute;
  width: 10%;
  background-image: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.0;
  transition: 0.3s;
  padding: 5px;
}

.left-back-overlay:hover {
  opacity: 0.5;
}

.middle-back-seconds-overlay img {
  position: absolute;
  z-index: 500;
  -webkit-filter: invert(1);
  filter: invert(1);  
 
  animation-name: myanimation;
  animation-duration: 0.3s;
}

@keyframes myanimation {
  0% {
    left: 49.5%;
    top: 49%;
    width: 1%;
    opacity: 0.0;
  }
  50% {
     opacity: 1;
  }
  100% {
    left: 47.2%;
    top: 45.6%;
    width: 5%;
    opacity: 0.0;
  }
}

.middle-forward-seconds-overlay img {
  position: absolute;
  z-index: 550;
  width: 10%;
  -webkit-filter: invert(1);
  filter: invert(1);
  
  animation-name: myanimation2;
  animation-duration: 0.3s;
}

@keyframes myanimation2 {
  0% {
    left: 49.5%;
    top: 49%;
    width: 1%;
    opacity: 0.0;
  }
  50% {
     opacity: 1;
  }
  100% {
    left: 47.9%;
    top: 45.6%;
    width: 5%;
    opacity: 0.0;
  }
}

.right-forward-overlay {
  padding: 5px;
  z-index: 500;
  right: 0px;
  top: 0px;
  bottom: 5vh;
  position: absolute;
  width: 10%;
  background-image: linear-gradient(270deg, white 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.0;
  transition: 0.3s;
}

.right-forward-overlay:hover {
  opacity: 0.5;
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.subtitle-container:hover {
  background-color: #636363;
}

.repeat-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.repeat-container:hover {
  background-color: #636363;
}

.playback-speed-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
}

.playback-speed-container:hover {
  background-color: #636363;
}

.quality-container:hover {
  background-color: #636363;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.playbackrates-container {
  z-index: 8888999;
  bottom: 62px;
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 3px;
  background: #2a2a2a;
  padding: 5px;
  font-family: Monospace;
  font-size: 12px;
  font-weight: 500;
  color: white;
  opacity: 0.9;
}

.quality-container {
  color: white;
  font-size: 18px;
  width: fit-content;
}

.speed-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.speed-row:hover {
  background-color: #636363;
}

.check-container {
  width: 10%;
  padding: 3px;
}

.speed-text {
  width: 60%;
  padding: 3px;
}

.controls {
  display: flex;
  background-color: #43434361;
  align-items: center;
  height: 5vh;
}

label {
  margin: 0% 10px;
}

.play-button {
  width: 5%;
  padding: 5px;
  max-width: 3vh;
  filter: invert(1);
}

.next-button {
  width: 2.5%;
  max-width: 4vh;
  filter: invert(1);
  padding: 0 1vh;
}

.next-button img {
  width: 100%;
}

.controls-time {
  width: 20%;
  text-align: center;
  filter: invert(1);
}

.controls-sound {
  width: 5%;
  max-width: 5vh;
  filter: invert(1);
  padding: 0 1vh;
}

.control-sound-img {
  width: 100%;
  position: relative;
}

.controls-spacer {
  width: stretch;
  display: flex;
  align-items: center;
  filter: invert(1);
}

.control-back img {
  width: 40px;
  max-width: 5vh;
}

.control-forward img {
  width: 40px;
  max-width: 5vh;
}

.controls-playbackrates {
  padding: 5px;
  max-width: 5vh;
  color: white;
  font-size:25px;
}

.controls-volume {
  width: 15%;
  padding: 5px;
}

.controls-cinema {
  width: 5%;
  padding: 5px;
  max-width: 5vh;
  filter: invert(1);
}

.cinema-box {
  display: flex;
  align-content: center;
  width: 70%;
  min-height: 16px;
  border-width: 2px;
  border-style: solid;
}

.controls-fullscreen {
  width: 5%;
  max-width: 4vh;
  padding: 5px;
  filter: invert(1);
}

/*.slidecontainer {
  width: 100%;
}

.bar-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5vh;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.bar-slider :hover {
  opacity: 1;
}

.bar-slider ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 1vh;
  background: #4CAF50;
  cursor: pointer;
}

.bar-slider ::-moz-range-thumb {
  width: 15px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}*/
/* HALLO HIER GORAN */
.slidecontainer {
  width: 100%;
}

.bar-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #acacac;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.bar-slider:hover {
  opacity: 1;
}

.bar-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;;
  height: 16px;
  background: #ffffff;
  cursor: pointer;
}

.bar-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/* HALLO BIS HIER DU PIC */

.overlay {
  position: absolute;
  z-index: 5555;
  display: none;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.controls-all {
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  z-index: 9999999;
}

.volume {
  z-index: 100;
  width: 100%;
}

.volume[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}

.volume[type=range]:focus {
  outline: none;
}

.volume[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.volume[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.volume[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}

.volume[type=range]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  border-radius: 1.3px;
  border: 0.2px solid #ffffff;
}

.volume[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
}

.volume[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.volume[type=range]::-ms-fill-lower {
  border: 0.2px solid #ffffff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
}

.volume[type=range]::-ms-fill-upper {
  border: 0.2px solid #ffffff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
}

.volume[type=range]::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -1px;
}

.volume[type=range]:focus::-ms-fill-lower {
  background: white;
}

.volume[type=range]:focus::-ms-fill-upper {
  background: white;
}

/*
  .video {
    width: 100%;
    height: 87vh;
    max-height: 94vh;
}
  
  .video-fullscreen {
    width: 100%;
    height: 87vh;
    max-height: 94vh;
}*/