
app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background-color: #4E5166;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
 }

  h1  {
   font-size:3.755em;
 }
a { 
  color:rgb(247, 28, 28);

}
 h2 {
  font-size:3em;
}

h3 {
  font-size:2.25em;
}

/* needed for correct fullscreen behaviour */
.js-reframe {
  position: unset !important;
}

.video {
  width: 100%;
  height:auto;
}

.video-fullscreen {
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
