
:root {
  --color1: #011627;
  --color2: #c9c9c9;
  --color3: #ff3366;
  --color4: #2ec4b6;
  --color5: #20a4f3;
  --color6: #12121875;
  --color7: #0d0d11;
  --color8: #21212c;
  --color9: #282835;
  --color10: #5e5e5e;
  --color11: rgb(100, 193, 247);

  --tinyInfo: 0.6rem;
  --smallText: 0.8rem;
  --standardText: 14px;
  --largeText: 1.25rem;
  --smallTitle: 1.75rem;
  --mediumTitle: 2.5rem;
  --largeTitle: 2vw;

  font-size:   var(--standardText);

}



body {
  /*background-color: #011627;*/
  background-image: url("assets/testwallpaper.gif");
  font-family: "Reem Kufi", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* 
 font-family: 'Reem Kufi', sans-serif;
 font-family: 'Puritan', sans-serif;
 font-family: 'Alef', sans-serif;
 font-family: 'Meera Inimai', sans-serif;
 font-family: 'Cabin', sans-serif;
 */

a {
  color: #011627;
}

h1, .h1 {
  font-size: var(--largeTitle);
  margin: 6px;
}

h2, .h2 {
  font-size: var(--mediumTitle);
  margin: 5px;
}

h3, .h3 {
  font-size: var(--smallTitle);
  margin: 5px;
}

.largeText {
  font-size: var(--largeText);
}

.standardText {
  font-size: var(--standardText);
}

.smallText {
  font-size: var(--smallText);
}

/* needed for correct fullscreen behaviour */
.js-reframe {
  position: unset !important;
}

.video {
  width: 100%;
  height: auto;
}

.video-fullscreen {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
